<!DOCTYPE html>
<html lang="uk">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap" rel="stylesheet">
    <title>Menu</title>
</head>
<body>
    <div class="header">
        <h1>Меню</h1>
        <h2 class="category-link"><a href="{% url 'category-items' %}">Категорії</a></h2>
    </div>

    {% for item in items %}
        <div class="main content-block">
            <h2><a href="{% url 'item-detail' pk=item.pk %}">{{ item.name }}</a></h2>
            <p>{{ item.description }}</p>
            <p>Ціна: {{ item.price }}грн</p>
            <img src="{{ item.image.url }}" alt="{{ item.name }}">
        </div>
    {% endfor %}
</body>
</html>