{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap" rel="stylesheet">
    <title>Category</title>
</head>
<body>
    <div class="main content-block">
        <h1>Категорії</h1>
        {% for category in categories %}
            <div>
                <h2><a href="{% url 'category-items-detail' category.id %}">{{ category.name }}</a></h2>
                <ul>
                    {% for item in category.items.all %}
                        <li>
                            <h3>{{ item.name }}</h3>
                            <p>{{ item.description }}</p>
                            <p>Price: {{ item.price }}</p>
                            <img src="{{ item.image.url }}" alt="{{ item.name }}">
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</body>
</html>